/* Reset */
* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

li {
    list-style: none;
}

h1,
p,
img {
    color: #fff;
}

.data-input:placeholder-shown {
    color: var(--main-color);
}

/* Body */

body {
    --main-color: #064c6fff;
    overflow-x: hidden;
}

.container {
    position: relative;
    z-index: 20;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Hidden an element */
.hidden {
    position: absolute;
    display: none;
}

/* Header */

.header {
    position: fixed;
    z-index: 10;
    height: 4rem;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-color);
    box-shadow: 0 0.275rem 0.1875rem rgba(0, 0, 0, 0.25);
}

/* Navbar */

.navbar {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto 1rem;
    padding: 0;
}

.logo img{
    height: 1.75rem;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    margin: 0 0.25rem;
}

.nav-link {
    padding: 0.5rem 1rem;
    display: block;
    font-weight: 600;
}

.navbar-links li:hover,
.nav-link:hover {
    background-color: #fff;
    color: var(--main-color);
    border-radius: 1.5rem;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.75rem;
}

.toggle-button .bar {
    height: .3rem;
    width: 100%;
    background-color: #fff;
    border-radius: .85rem;
}

/* Main */

/* Hero */
.hero {
    height: 32.5rem;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/pictures/hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.heading,
.subheading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    padding: 2rem;
    height: 7.5rem;
    width: 60%;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--main-color);
}

.heading h1 {
    font-size: 1.5rem;
    text-align: center;
}

.subheading {
    padding: 2rem;
    height: 7.5rem;
    width: 100%;
    background-color: var(--main-color);
}

.subheading .registration_link {
    color: var(--main-color);
    padding: 1.25rem 1.5rem;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 1.75rem;

    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
}

/* Form */

.form-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 .5rem;
}

/* mengatur ukuran dan posisi pada class .data_Formulir keseluruhan */
.form-data {
    height: 6.25rem;
    padding: 0 2rem;
    width: 100%;
    margin: 10px auto;
}

/* warna elemen h4 sebagai judul dari setiap bidang formulir */
.form-data h4 {
    color: var(--main-color);
}

/* mengatur ukuran pada class .label keseluruhan */
.label {
    margin: .75;
    padding: .75rem 0;
    height: 1.5625rem;
    width: 100%;
}

/* mengatur ukuran pada class .masukan keseluruhan */
.data-input {
    margin: 1rem 0;
    height: 4.0625rem;
    width: 100%;
}

/* gaya elemen input di dalam class .masukan keseluruhan */
.data-input input {
    padding: 0.9375rem;
    border: none;
    border-radius: 0.3125rem;
    border: .15rem solid var(--main-color);
    background-color: rgba(0, 0, 0, 0);
}

/* mengatur ukuran dan posisi elemen input[type="text"] keseluruhan pada formulir */
.data-input input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

/* gaya cursor mouse/touchpad pada elemen input[type="radio"] dengan id #genderTimMale dan id #genderTimFemale  */
.data-input #genderTimMale,
.data-input #genderTimFemale {
    cursor: pointer;
}

/* megatur letak elemen input[type="radio"] dengan class .gender_Tim */
.gender .data-input {
    height: 1.5625rem;
    margin: 1.375rem 0;
}

/* warna tulisan gender pada elemen input[type="radio"] dengan class .gender_Tim */
.gender .data-input p {
    font-size: larger;
    display: inline-block;
    color: var(--main-color);
}

/* mengatur ukuran kontainer untuk masukkan textarea*/
.kontainer_Alamat_TextArea {
    height: 3rem;
}

/* mengatur posisi dan gaya untuk masukkan textarea*/
.kontainer_Alamat_TextArea textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    border: .15rem solid #216778ff;
}

/* mengatur ukuran elemen input[type="date"] dengan id #tanggalDaftarTim */
.data-input #tanggalDaftarTim {
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}

/* gaya cursor mouse/touchpad pada elemen select dengan id #gelombangPertandinganTim */
.data-input #gelombangPertandinganTim {
    background-color: #fff;
    border: none;
    border-radius: 0.3125rem;
    border: .15rem solid #216778ff;
    padding: 0.4375rem;
    cursor: pointer;
}

/* kontainer checkbox centang pemberitahuan */
.terms {
    width: 3.25rem;
    height: 2.1875rem;
    border-radius: 0.3125rem;
    border: .15rem solid #216778ff;
    background-color: #fff;
}

/* checkbox centang pemberitahuan */
.terms input {
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    margin: 0 1rem;
}

/* gaya parent dari elemen input[type="submit"] dengan class .submit_Formulirbidang untuk mengumpukan data formulir */
.submit-container {
    margin: 0 auto;
    height: 3.125rem;
    width: 12.5rem;
}

/* gaya pada elemen input[type="submit"]  menyesuaikan input submit sesuai ukuran parent */
.submit-container #submit_Data {
    box-sizing: border-box;
    height: 3.125rem;
    width: 12.5rem;
    border-radius: 0.3125rem;
    display: block;
    box-shadow: 0 0.375rem #919191;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid var(--main-color);
    font-weight: bold;
    color: var(--main-color);
    cursor: pointer;
}

.submit-container #submit_Data:hover {
    background-color: rgb(255, 255, 255, 1);
}

.submit-container #submit_Data:active {
    position: relative;
    top: 0.4375rem;
    box-shadow: none;
}

/* pemberitahuan peringatan pada elemen input jika terjadi kesalahan */
/* semua bidang */
.data-validation {
    margin: .25rem 0;
    display: block;
    visibility: hidden;
    color: red;
}

/* gaya pada validasi data pada peringatan ke 1*/
.data-validation .empty-cheker {
    position: absolute;
    z-index: 1;
}

/* gaya pada validasi data pada peringatan ke 2*/
.data-validation .invalid-cheker {
    position: absolute;
    z-index: 2;
}

/* gaya pada validasi data pada peringatan ke 3*/
.data-validation .invalid-digit-cheker {
    position: relative;
    z-index: 3;
}

/* Footer */

.footer {
    background-color: var(--main-color);
    height: 10rem;
    width: 100%;
}

.footer .container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright,
.supports {
    flex: 1;
}

.footer img {
    height: 2rem;
    margin: 1rem 0;
}

.copyright {
    margin: 0 2rem;
}

.copyright img {
    font-size: 2rem;
    font-weight: 600;
}

.copyright p {
    font-size: 1rem;
}

.supports img {
    margin: 1rem .75rem;
    height: 3rem;
}

.supports img:first-child {
    margin-left: 0;
}

@media all and (max-width: 1080px) {
    /* Footer */
    
    .footer .container {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
    .supports,
    .copyright {
        flex: 1;
    }

    .copyright {
        flex-direction: column;
    }

    .supports {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .supports img {
        margin: .5rem 1rem;
        height: 2rem;
    }
    
    .copyright {
        display: flex;
        align-items: center;
    }

    .copyright img {
        margin: .5rem 0;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .copyright p,
    .supports p {
        margin: 1rem 0;
        font-size: 1rem;
    }

    .copyright p {
        margin: 0 1rem;
    }
}

@media all and (max-width: 750px) {

    /* Navbar and Hamburger Menu */
    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        height: 1.25rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        margin: 0;
    }

    .navbar-links li {
        margin: 0.25rem 0;
        text-align: center;
    }

    .navbar-links li:hover {
        border-radius: 0;
        margin: 0.25rem 0;
    }

    .navbar-links.active {
        display: block;
        height: 14rem;
        background-color: var(--main-color);
        padding: 1.25rem 0;
        box-shadow: 0 0.275rem 0.1875rem rgba(0, 0, 0, 0.25);
    }

    /* Hero */
    .heading,
    .subheading {
        height: 5rem;
    }

    .heading {
        width: 60%;
        padding: .7rem 1.5rem;
    }

    .heading h1 {
        font-size: .9rem;
    }
    
    .subheading .registration_link {
        color: var(--main-color);
        padding: .75rem 1rem;
        background-color: hsla(0, 0%, 100%, 0.8);
        border-radius: 1.75rem;
    
        font-size: 1rem;
        font-weight: 600;
    }
}

@media all and (max-width: 450px) {

    /* Navbar and Hamburger Menu */

    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        height: 1.15rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        margin: 0;
    }

    .navbar-links li {
        margin: .25rem 0;
        text-align: center;
    }

    .navbar-links li:hover {
        border-radius: 0;
        margin: .25rem 0;
    }

    .navbar-links.active {
        display: block;
        height: 14rem;
        background-color: var(--main-color);
        padding: 1.25rem 0;
        box-shadow: 0 0.275rem 0.1875rem rgba(0, 0, 0, 0.25);
    }

    /* Form */

    .label {
        margin: 1;
        padding: 1.25rem 0;
    }

    /* Hero */
    .hero {
        height: 25rem;
    }

    .heading,
    .subheading {
        height: 5rem;
    }

    .heading {
        width: 70%;
        padding: .5rem .7rem;
    }

    .heading h1 {
        font-size: .8rem;
    }
    
    .subheading {
        padding: 0rem;
    }

    /* Footer */

    .footer img {
        height: 1rem;
    }

    .supports img {
        margin: 0.5rem;
        height: 1.5rem;
    }

    .copyright img {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .copyright p,
    .supports p {
        margin: 1rem 0;
        font-size: 0.8rem;
    }

    .copyright p {
        margin: 0 0.75rem;
    }
}
